<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#0b1220" />
  <link rel="icon" href="/assets/globe-logo.png" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/globalStyles.css">
  <title>
    <%= title %>
  </title>
</head>

<body class="dark">
  <%- body %>
</body>

</html>