<link rel="stylesheet" href="/styles/signin.css" />

<div class="signinContainer">
  <div class="vidContainer">
    <img src="/assets/globe.png" alt="globe" />
  </div>

  <div class="form glass">
    <p class="title">Globlit</p>

    <div class="signIn">
      <p class="subTitle">Your Daily News Brief, Simplified</p>
      <a href="/auth/google" class="primary-btn">Sign In With Google</a>
    </div>
  </div>
</div>